body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('./IMG/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com 90% de opacidade */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.table {
    background-color: white; /* Fundo branco sólido para a tabela */
    border-radius: 5px;
    overflow: hidden; /* Para bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para a tabela */
}

.success-message {
    position: fixed;
    bottom: 10px;
    right: 10px; /* Alterado para o canto inferior direito */
    width: 300px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

.highlight-row:hover {
    background-color: #f0f8ff !important;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh; /* Altura total da janela */
    background-color: #343a40; /* Cor de fundo escura */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Espaço superior para a logo */
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* Espaço abaixo da logo */
    padding: 15px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.menu-container {
    width: 100%;
}

.menu-link {
    color: #fff; /* Cor do texto do menu */
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    width: 100%;
    background-color: #343a40; /* Cor de fundo dos links do menu */
    transition: background-color 0.3s, color 0.3s; /* Transição suave para mudanças de cor */
}

.menu-link:hover {
    background-color: #007bff; /* Cor de fundo ao passar o mouse */
    color: #fff;
}

.menu-link.active {
    background-color: #007bff; /* Cor de fundo do item ativo */
    color: #fff;
}

/* Estilo para os itens do menu que não estão ativos */
.menu-link:not(.active) {
    background-color: #343a40; /* Cor de fundo dos itens não ativos */
    color: #fff; /* Cor do texto dos itens não ativos */
}

.content {
    margin-left: 200px; /* Espaço para a largura da sidebar */
    padding: 15px;
    width: calc(100% - 200px); /* Ajusta a largura do conteúdo */
}

.server-icons {
    text-align: center;
    margin-top: 20px;
}

.server-link {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.server-link:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.server-icon {
    font-size: 50px;
    cursor: pointer;
    color: #007bff;
    transition: transform 0.3s ease;
}

.server-description {
    margin-top: 5px;
    font-size: 16px;
    color: #000;
}

.welcome-message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.login-container {
    width: 80%; /* Defina a largura desejada */
    margin: 0 auto; /* Centraliza o contêiner */
}

.welcome-message {
    color: white;
    font-size: 18px; /* Altere o tamanho da fonte conforme desejado */
    margin-bottom: 5px; /* Reduza a margem inferior conforme desejado */
}
